{:itonami.blueprint/id "cloud-itonami-4762"
 :itonami.blueprint/name "Retail Sale of Music and Video Recordings in Specialized Stores"
 :itonami.blueprint/isic-rev5 "4762"
 :itonami.blueprint/domain :commerce/retail
 :itonami.blueprint/license "AGPL-3.0-or-later"
 :itonami.blueprint/social-impact [:local-economy :consumer-protection :transparency]
 :itonami.blueprint/governor :music-video-retail-governor
 :itonami.blueprint/robotics true
 :itonami.blueprint/required-technologies [:robotics :identity :forms :dmn :bpmn :audit-ledger :retail]
 :itonami.blueprint/optional-technologies []
 :itonami.blueprint/status :public-oss
 :itonami.blueprint/maturity :implemented}
